# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

# Отладочные журналы npm
npm-debug.log*
# Зависимости проекта
node_modules
# Атрибуты папки OSX
.DS_Store
# Временные файлы
*.tmp
*~